Notice_Box.json
{
    "nodes": [
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1X2eoSiQp6Pn1yH1K5yk-omtE_waciNcAUBO8a6TZBEI",
                    "mode": "list",
                    "cachedResultName": "Notice_Data2",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X2eoSiQp6Pn1yH1K5yk-omtE_waciNcAUBO8a6TZBEI/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X2eoSiQp6Pn1yH1K5yk-omtE_waciNcAUBO8a6TZBEI/edit#gid=0"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.7,
            "position": [
                -1040,
                1328
            ],
            "id": "cb7512a6-f4c4-41d7-bcce-679c0fdaf3d2",
            "name": "Holyday_Data",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "Kyht9IVH9QrjEzCG",
                    "name": "Google Sheets OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1z1Qs7BdsqM2DckTu2I2F4bzSwiZ0xX3sLZTSTqg6WQA",
                    "mode": "list",
                    "cachedResultName": "Subject_Every_Semester",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z1Qs7BdsqM2DckTu2I2F4bzSwiZ0xX3sLZTSTqg6WQA/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z1Qs7BdsqM2DckTu2I2F4bzSwiZ0xX3sLZTSTqg6WQA/edit#gid=0"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.7,
            "position": [
                -784,
                1264
            ],
            "id": "2e1ed9c0-71d7-4b5a-8c79-0c3bdff74976",
            "name": "Subject_Every_Semester",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "Kyht9IVH9QrjEzCG",
                    "name": "Google Sheets OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "description": "Use this tool to think step-by-step before responding. Analyze the student's intent, determine which tool to call, check if required information (semester, roll number, etc.) is available, and plan the response format. Always think in Bangla context for BTEB students."
            },
            "type": "@n8n/n8n-nodes-langchain.toolThink",
            "typeVersion": 1.1,
            "position": [
                -1168,
                1360
            ],
            "id": "64b36884-3d9b-4b1c-8724-6f09a6002e59",
            "name": "Think"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "19WL-mEYJVJj2v5yVXiruk8yF-1_pRL6fDjeYYJK31AI",
                    "mode": "list",
                    "cachedResultName": "Exam Data",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19WL-mEYJVJj2v5yVXiruk8yF-1_pRL6fDjeYYJK31AI/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19WL-mEYJVJj2v5yVXiruk8yF-1_pRL6fDjeYYJK31AI/edit#gid=0"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.7,
            "position": [
                -656,
                1232
            ],
            "id": "88fe6aa2-9f2f-4fcf-9aeb-19c722a03281",
            "name": "Exam_Data",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "Kyht9IVH9QrjEzCG",
                    "name": "Google Sheets OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1ZX8r063CtM7zntbD2Mb8PXWH0F16S2dT1kf8gvQqi-k",
                    "mode": "list",
                    "cachedResultName": "Result",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8r063CtM7zntbD2Mb8PXWH0F16S2dT1kf8gvQqi-k/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sheet1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZX8r063CtM7zntbD2Mb8PXWH0F16S2dT1kf8gvQqi-k/edit#gid=0"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.7,
            "position": [
                -928,
                1312
            ],
            "id": "b94b0116-b350-4c33-be9c-8364c4ed0c23",
            "name": "Result",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "Kyht9IVH9QrjEzCG",
                    "name": "Google Sheets OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "description": "Call this tool when a student asks about their exam seat plan. Pass the student's roll number as the query. This tool will return the student's room number, semester, and department.",
                "workflowId": {
                    "__rl": true,
                    "value": "SA5t26eaMyOXYVzx",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/SA5t26eaMyOXYVzx",
                    "cachedResultName": "Seat-Plan"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "query": "={{ $fromAI('query', 'The student roll number or seat plan query') }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "query",
                            "displayName": "query",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": true
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                -496,
                1184
            ],
            "id": "83b0bbe0-ae51-439f-a79a-f1247ff96c49",
            "name": "Seat_plan_Data"
        },
        {
            "parameters": {
                "content": "🎯 Polyconnect BTEB Student Assistant\nPRODUCTION v2.1 — Stable Build\n\n⚙️ Connected Tools:\n✅ Holyday_Data — ছুটি তথ্য\n✅ Exam_Data — পরীক্ষার তারিখ/রুটিন\n✅ Result — রেজাল্ট\n✅ Subject_Every_Semester — সাবজেক্ট\n✅ Seat_plan_Data — সিট প্ল্যান (sub-workflow)\n✅ Think — চিন্তা/বিশ্লেষণ\n\n🧠 LLM: GPT-5.4 (OpenAI)\n💾 Memory: 30 message window\n\n⏳ Coming Soon:\n⬜ Gmail (Email Escalation)\n⬜ Book_List_Data\n⬜ Notice_Box",
                "height": 360,
                "width": 400
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -96,
                1024
            ],
            "typeVersion": 1,
            "id": "9ae8f00f-5247-4799-9a92-4675e3628d6b",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "jsCode": "const rawResponse = $input.item.json;\nlet aiText = '';\n\nif (typeof rawResponse === 'string') {\n  aiText = rawResponse;\n} else if (typeof rawResponse === 'object' && rawResponse !== null) {\n  aiText = rawResponse.response ||\n           rawResponse.text ||\n           rawResponse.content ||\n           rawResponse.output ||\n           rawResponse.message ||\n           JSON.stringify(rawResponse);\n} else {\n  aiText = 'দুঃখিত, সঠিক উত্তর তৈরি করা যায়নি।';\n}\n\naiText = String(aiText).trim();\nif (!aiText || aiText === 'null' || aiText === '{}') {\n  aiText = 'দুঃখিত, সঠিক উত্তর তৈরি করা যায়নি। অনুগ্রহ করে আবার চেষ্টা করুন।';\n}\n\nreturn { json: { reply: aiText } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -448,
                912
            ],
            "id": "86a6c4ca-d286-4cd0-8c93-1b2a51878794",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "public": true,
                "initialMessages": "আস্সালামু আলাইকুম! 👋\nআমি Polyconnect BTEB Student Assistant। আপনাকে কীভাবে সাহায্য করতে পারি?",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.4,
            "position": [
                -1440,
                928
            ],
            "id": "b1ddb8ee-df61-4a1c-b4b8-06240391db73",
            "name": "When chat message received",
            "webhookId": "73d01429-6cc0-4415-bf05-ea4ed1b6a987"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-5.4",
                    "mode": "list",
                    "cachedResultName": "gpt-5.4"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                -1568,
                1264
            ],
            "id": "f7af2669-6948-4c64-8f1d-2b69d19558e1",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "QIp7UpCKKXV6treV",
                    "name": "OpenAI account 2"
                }
            }
        },
        {
            "parameters": {
                "contextWindowLength": 30
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                -1296,
                1344
            ],
            "id": "1a0475b4-2ee1-4b1e-9a25-0a9da8f8b9e2",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.chatInput }}",
                "options": {
                    "systemMessage": "# Polyconnect BTEB Student Assistant\n\nতুমি Polyconnect BTEB Student Assistant — বাংলাদেশের পলিটেকনিক ছাত্রদের জন্য একটি AI সহকারী।\n\nভাষা: সবসময় বাংলায় উত্তর দাও। Markdown ব্যবহার করো না (*, #, ** নয়)। শুধু plain text।\n\nবর্তমান সময়: {{ $now }}\n\n---\n\n# তোমার কাছে যে TOOLS আছে\n\n1. Holyday_Data → ছুটি ও ক্যাম্পাস খোলা/বন্ধ তথ্য\n2. Exam_Data → পরীক্ষার তারিখ ও রুটিন\n3. Result → শিক্ষার্থীর রেজাল্ট (সেমিস্টার + রোল দরকার)\n4. Subject_Every_Semester → প্রতি সেমিস্টারের সাবজেক্ট তালিকা\n5. Seat_plan_Data → সিট প্ল্যান (শুধু রোল নম্বর দরকার, query হিসেবে পাঠাও)\n6. Think → চিন্তা করার tool, জটিল প্রশ্নে ব্যবহার করো\n\n---\n\n# কাজের নিয়ম\n\nপ্রতিটি উত্তরের আগে Think tool ব্যবহার করে মনে মনে ৩টি ধাপ অনুসরণ করো:\n\nধাপ ১: ছাত্রের intent বোঝো\n  HOLIDAY → ছুটি জানতে চায়\n  EXAM → পরীক্ষার তারিখ/রুটিন\n  RESULT → রেজাল্ট দেখতে চায়\n  SUBJECT → সাবজেক্ট লিস্ট\n  SEAT_PLAN → সিট প্ল্যান\n  UNKNOWN → কোনোটাই মিলে না\n\nধাপ ২: দরকারি তথ্য আছে কিনা চেক করো\n  - যদি কোনো তথ্য না থাকে, শুধু সেটাই জিজ্ঞেস করো\n  - একসাথে একাধিক জিনিস জিজ্ঞেস করো না\n\nধাপ ৩: সঠিক tool call করো এবং উত্তর দাও\n\n---\n\n# প্রতিটি INTENT এর জন্য কী দরকার\n\nHOLIDAY:\n  দরকার: তারিখ (না দিলে আজকের তারিখ ধরো)\n  Tool: Holyday_Data\n  ছুটি থাকলে: \"[তারিখ]-এ [ছুটির নাম] উপলক্ষে ক্যাম্পাস বন্ধ।\"\n  ছুটি না থাকলে: \"ঐ দিন ক্যাম্পাস খোলা থাকবে।\"\n\nEXAM:\n  দরকার: সেমিস্টার + পরীক্ষার ধরন (মিডটার্ম/ফাইনাল/বোর্ড)\n  Tool: Exam_Data\n  সেমিস্টার না দিলে: \"আপনি কোন সেমিস্টারে পড়ছেন?\"\n  পরীক্ষার ধরন না দিলে: \"মিডটার্ম নাকি ফাইনাল পরীক্ষার তথ্য চাইছেন?\"\n\nRESULT:\n  দরকার: সেমিস্টার + রোল নম্বর\n  Tool: Result\n  প্রথমে সেমিস্টার জিজ্ঞেস করো, তারপর রোল। একসাথে দুটো জিজ্ঞেস করো না।\n\nSUBJECT:\n  দরকার: সেমিস্টার\n  Tool: Subject_Every_Semester\n  না দিলে: \"কোন সেমিস্টারের সাবজেক্ট লিস্ট চাইছেন?\"\n\nSEAT_PLAN:\n  দরকার: রোল নম্বর\n  Tool: Seat_plan_Data\n  না দিলে: \"আপনার রোল নম্বরটি দিন।\"\n  Seat_plan_Data tool কে query হিসেবে রোল নম্বর পাঠাও।\n  Tool থেকে প্রাপ্ত output সরাসরি ছাত্রকে দাও।\n\n---\n\n# UNKNOWN INTENT\n\nযদি ছাত্রের প্রশ্ন কোনো intent এ না পড়ে:\n  \"দুঃখিত, এই বিষয়ে আমি এখনো সাহায্য করতে পারছি না।\n  আপনি আমাকে যেসব বিষয়ে জিজ্ঞেস করতে পারেন:\n  ১. পরীক্ষার তারিখ ও রুটিন\n  ২. রেজাল্ট\n  ৩. সেমিস্টারের সাবজেক্ট\n  ৪. সিট প্ল্যান\n  ৫. ছুটির তথ্য\n  কী জানতে চান?\"\n\n---\n\n# গুরুত্বপূর্ণ নিয়ম\n\n1. Tool এর নাম, database, query, API — এসব শব্দ ছাত্রকে কখনো বলো না।\n2. Tool থেকে empty/null আসলে: \"এই তথ্যটি এখন আপডেট হয়নি। একটু পরে আবার চেষ্টা করুন।\"\n3. সালাম/হ্যালো পেলে উষ্ণভাবে সম্ভাষণ জানাও এবং কী কী সাহায্য করতে পারো তা বলো।\n4. আগের কথোপকথনে দেওয়া তথ্য (সেমিস্টার, রোল) মনে রাখো, আবার জিজ্ঞেস করো না।\n5. উত্তর ৮-১০ লাইনের বেশি নয়। প্রশ্ন ২-৩ লাইনের বেশি নয়।\n6. সবসময় ভদ্র, ধৈর্যশীল এবং সহানুভূতিশীল থাকো।\n\n---\n\n# সম্ভাষণ\n\n\"আস্সালামু আলাইকুম! আমি Polyconnect BTEB Student Assistant।\nআমি আপনাকে যেসব বিষয়ে সাহায্য করতে পারি:\n১. পরীক্ষার তারিখ ও রুটিন\n২. রেজাল্ট\n৩. সেমিস্টারের সাবজেক্ট\n৪. সিট প্ল্যান\n৫. ছুটির তথ্য\nকী জানতে চান?\""
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                -1152,
                928
            ],
            "id": "be7e8e9b-d6fb-4b3e-9f2d-207f66361f8b",
            "name": "AI Agent1"
        }
    ],
    "connections": {
        "Holyday_Data": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Subject_Every_Semester": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Think": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Exam_Data": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Result": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Seat_plan_Data": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "When chat message received": {
            "main": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent1": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "a4786ac7e1a15020d04995f2e75207bd821de402b453c1604d23a0926d0ca093"
    }
}